@import '~bootstrap/scss/bootstrap';
@import "partials/variables.scss";
@import "partials/mixins.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: $color-secondary-dark;
}

#jumbotron {
    height: 400px;
    width: 100vw;
    background-image: url('/resources/images/jumbotron.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}


#card-container {
    flex-wrap: wrap;
    padding: 30px 10px 20px;
    position: relative;
}

#label {
    position: absolute;
    top: -25px;
    background-color: $color-primary;
    color: white;
    padding: 5px 20px;
    font-size: 25px;
    text-transform: uppercase;
}

#load-more {
    padding: 8px 60px;
    border: 0;
    margin: 70px auto 0;
    font-size: 25px;
    text-transform: uppercase;
    background-color: $color-primary;
    transition: all 0.2s;

    &:hover {
        scale: 1.05;
        background-color: lighten($color-primary, 20);
    }

    &:active {
        scale: 1;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
}

.my-card {
    width: calc(100% / 2);
    height: 280px;
    padding: 10px;
    cursor: pointer;

    .image-wrapper {
        height: 80%;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            transition: all 2s;
        }

        &:hover {
            scale: 1.02;
            box-shadow: 2px 2px 15px 2px rgba(255, 255, 255, 0.384);
        }

        &:active {
            scale: 1;
        }
    }

    .card-title {
        color: white;
        text-transform: uppercase;
        margin-top: 20px;
        display: inline-block;
        font-size: 18px;
    }

}


@media all and (min-width: 768px) {
    .my-card {
        width: calc(100% / 3);
    }
}

@media all and (min-width: 992px) {
    .my-card {
        width: calc(100% / 4);
    }
}

@media all and (min-width: 1400px) {
    .my-card {
        width: calc(100% / 6);
    }
}

#header-container {
    height: $header-height;
    @include d-flex-space-between-center;

    #logo-container {
        height: 100%;
        padding: 20px 0;

        img {
            height: 100%;
            cursor: pointer;
        }
    }

}

#nav-list {
    list-style: none;
    gap: 20px;
    font-weight: bold;
    height: 100%;
    display: none;

    .nav-item {
        position: relative;
        cursor: pointer;
        line-height: 60px;

        a {
            text-decoration: none;
            display: inline-block;
            line-height: 118px;
            color: black;
            transition: all 0.2s;

            &:hover {
                color: $color-primary;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: -15%;
                height: 5px;
                width: 130%;
                background-color: $color-primary;
                opacity: 0;
                transition: all 0.2s;
            }

            &:hover::after {
                opacity: 1;
            }
        }

    }
}


#dropdown {
    position: absolute;
    top: $header-height;
    right: 0;
    z-index: 9999;
    text-align: right;
}

#close-dropdown {
    position: absolute;
    right: 80px;
    top: 40px;
    font-size: 30px;
}

#nav-list-dropdown {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    width: 70vw;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 50px;
    border-radius: 5px;

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
}

.hamburger {
    color: black;
    font-size: 30px;
    border: 0;
    background-color: transparent;
}


@media all and (min-width: 992px) {
    #nav-list {
        display: flex;
    }

    #dropdown-container {
        display: none;
    }
}





footer {
    height: $footer-height;
    background-image: url("/resources/images/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;

    #footer-nav-container {

        padding: 50px 20px;
        display: flex;
        gap: 20px;

        h4 {
            color: white;
        }

    }
}

#footer-logo {
    position: absolute;
    left: 55%;
    top: -20%;
    height: 140%;
    z-index: 0;
}

#footer-nav-list {
    display: flex;
    flex-direction: column;
    z-index: 1;

    a {
        text-decoration: none;
        color: $color-text-grey;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}

#footer-banner {
    background-color: $color-secondary;
    height: $header-height;

    h4 {
        color: $color-primary;
        margin-bottom: 0;
        margin-right: 10px;
        font-weight: bolder;

    }
}

#banner-btn {
    padding: 12px 20px;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid $color-primary;
    transition: all 0.2s;

    &:hover {
        background-color: $color-text-grey;
    }

    &:active {
        scale: 0.95;
    }

    a {
        text-decoration: none;
        color: white;
    }

}

.social {
    display: inline-block;
    margin: 10px;

    &:hover {
        scale: 1.1;
        background-color: white;
        border-radius: 50%;
    }
}

#follow-claim {
    display: none;
}

@media all and (min-width: 768px) {
    #follow-claim {
        display: inline-block;
    }

    #banner-btn {
        font-size: 20px;
    }

}

@media all and (min-width: 576px) {
    #footer-nav-container {

        padding: 50px 20px;
    }
}